<section>
  <div class="container notFoundContainer">
    <div>
      <a class="notFoundNavbarItem" href="https://bulma.io">
        <img
          src="https://res.cloudinary.com/abrahama19/image/upload/v1691861389/logoPS5_ryhtjh.jpg"
          class="notFoundImage"
          style="max-height: max-content;" width="200" height="100"
        />
      </a>
      <div>
        <h1 class="notFoundTitle">404</h1>
      </div>
      <div>
        {{!-- <h3 class="notFoundSubtitle">
          Look like you're lost
        </h3> --}}
        <p class="notFoundParagraph">Page not found</p>
        <a href="/" class="btn btn-info">Go to Home</a>
      </div>
    </div>
  </div>
</section>
